body{background-color: bisque;} /* selector html body*/

#color-blue{
    color: blue; /* selector id*/
}

.color-brown{
    color: brown; /* selector clase*/
}

.box{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: blue;
    border-width: 4px;
    border-left: 4px solid rgb(37, 9, 75);
    border-radius: 4px;
    height: 100px;
    background-color: aqua;
}

.alineado{ /* alineado y color center, left*/
    color: blue;
    margin: 10px;
    text-align: justify;
    text-indent: 20px; /* identar*/

    line-height: 1.5;

    text-shadow: 5px 2px 5px red; /*(derecha, abajo, opacidad, color)*/
}

.decoration{
    text-decoration: line-through;
    text-transform: uppercase;
}

.font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em; /* tamaño*/
    font-weight: 900; /* de 100 a 800*/
}

.link{
    color: hotpink;
}

.link:visited{
    color: red;
}

.link:hover{
    color:blueviolet
}

.lista ul li{
    list-style-type: square; /* upper-roman*/
    border-bottom: solid 1px;
}

.lista ul{
    margin-left: 10px;
    padding: 15px;
    padding-left: 30px;
    background-color: azure;
    border: solid 5px rgb(221, 216, 216);
}

.tabla table{
    width: 100%;
    background-color: wheat;
    border-collapse: collapse; /* quitar los separadores*/
    border: 2px solid red;
}

.tabla table thead{
    background-color: azure;
    
}

.tabla table thead th{
    padding: 10px;
    text-align: left;
}

.tabla table td{
    border: 1px solid red;
}

.tabla table tr td{
    padding: 10px;
}